<!DOCTYPE html>
<html>
<head>
<!-- Cargamos el scrip de jQuery para poder realizar inserciones de codigo seguras-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  /*Funcion que hace aparecer y desaparecer la barra de busqueda*/

  function aparecerBarra(){
    var cuadrado=document.getElementById("square");
    var barra=document.getElementById("sidebar");

    if(barra.style.width!="0%"){
        barra.style.width="0%";
        cuadrado.style.width="100%";
        }
    else {
        barra.style.width="100%";
        cuadrado.style.width="0%";
        }
    
  }
  function cargarServicios(){
    /*Estamos cargando en el elemento square el elemento con id= "servicios" de servicios.html
    para adaptar los estilos recomiendo hacerlo primero manualmente para dejar preparada la
    inserción de código */
    $('#square').empty();
    $('#square').load('../generic-views/generic-views.html #servicios');
  }
  function cargarPortfolio(){
    $('#square').empty();
    $('#square').load('../generic-views/generic-views.html #portfolio');
  }
  function cargarContacta(){
    $('#square').empty();
    $('#square').load('../generic-views/generic-views.html #contacta');
  }
  function cargarPresupuesto(){
    $('#square').empty();
    $('#square').load('../generic-views/generic-views.html #presupuesto');
  }
  function cargarBlog(){
    $('#square').empty();
    $('#square').load('../generic-views/generic-views.html #blog');
  }

  var bgImageArray = ["fondo1.jpeg", "fondo2.jpg", "fondo3.jpg", "fondo4.jpeg"],
  base = "../../images/fondos/",
  secs = 7;
  bgImageArray.forEach(function(img){
      new Image().src = base + img; 
      // caches images, avoiding white flash between background replacements
  });

  function backgroundSequence() {
    window.clearTimeout();
    var k = 0;
    for (i = 0; i < bgImageArray.length; i++) {
      setTimeout(function(){ 
        var aux=document.getElementById('backgroundImages');
        aux.style.background = "url(" + base + bgImageArray[k] + ") no-repeat center center";
        aux.style.backgroundSize ="cover";
      if ((k + 1) == bgImageArray.length) { setTimeout(function() { backgroundSequence() }, (secs * 1000))} else { k++; }			
      }, (secs * 1000) * i)	
    }
  }
  backgroundSequence();

</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../styles/estiloVistaPrincipal.css">
</head>

<!--Cuerpo-->
<body id="backgroundImages">

<!--FORMULARIO DE INICIO DE SESIÓN-->
<div id="id01" class="modal">
  
  <form class="box" action="index.html" method="POST">
      <img id="out" src="../../images/crossWhite.jpg" onclick="document.getElementById('id01').style.display='none'">
      <h1>Login</h1>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <input type="submit" name="Login" value="Login">
      <div class="contenedor">
        <div><a href="registrarse.html">Recordar contraseña</a></div> <p></p>
          <div> <a href="registrarse.html">Registrarse</a></div>
      </div>
      
    </form>
</div>
  <button class="closer" title="Close sidebar" onclick=aparecerBarra()>☰</button>
  <div id="bar"> 
      <div class="logo"><img src="../../images/logoSinLetrasCircular.png"
      style="max-width:100%;"></div>
  <div id="sidebar"> 
    <a class="active" href="#home">Inicio</a>
    <a href="#services" onclick="cargarServicios();">Servicios</a>
    <a href="#solicitudPresupuesto" onclick="cargarPresupuesto();">Solicitud presupuesto</a>
    <a href="#porfolio" onclick="cargarPortfolio();">Portfolio</a>
    <a href="#contact" onclick="cargarContacta();">Contacta</a>
    <a href="#blog" onclick="cargarBlog();">Blog</a>
    
    <a class="btn" onclick="document.getElementById('id01').style.display='block'"> Iniciar sesión</a>
  </div>
  
  </div>


  <div class="content">
    <div id="square"> 
        
    </div>
  </div>


  <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
</body> 
</html>