<html>
        <head></head>
<body>

    <div id="gestionUsuarios">

        <div class="options_container">

          <div class="addremove">
            <div class="añadirEliminarUsuario">
                <button class="button"><div class="plus"><img src="../../images/plus.png"></div></button>
                <button class="button"><div class="trash"><img src="../../images/trash.png"></div></button>
          
                <button class="button1"><div class="mail"><img src="../../images/mail.svg"></div></button>
                <button class="button1"><div class="addVideo"><img src="../../images/addVideo.png"></div></button>
                <button class="button1"><div class="addVideo"><img src="../../images/modifyUser.png"></div></button>
                <button class="button">Gestionar Encargos</button>
                <button class="button">Actualizar contenido</button>
    
            </div>
          </div>    
        
        <div id="titulo"><p><b>Lista de usuarios</b></p></div>

         <div class="users_container">
    
            <div class="grid-container">
            <div><u>Usuario de ejemplo</u><a id="middle">Mensajes nuevos: 0</a><a id="right">Proyectos activos: 0</a></div>
            <div><u>Usuario de ejemplo</u></div>
            <div><u>Usuario de ejemplo</u></div>
            <div><u>Usuario de ejemplo</u></div>
            <div><u>Usuario de ejemplo</u></div>
            <div><u>Usuario de ejemplo</u></div>
            <div><u>Usuario de ejemplo</u></div>
            <div><u>Usuario de ejemplo</u></div>
           </div>
    
        </div>
    
    </div>

</body>
</html>