<html>
    <head></head>
<body>

    <div id="proyectos">

    <div>
        <a onclick="cargarVideos();"><h4>Nombre Proyecto</h4></a>
        <p>Informacion acerca del proyecto</p>
        <p><b>Fecha comienzo</b>:11/11/1999<br>
        <b>Fecha finalización</b>:12/11/1999</p>
        <p><b>Número de videos</b>: 4</p>
        <p><b>Duración</b>: 20 minutos</p>
    </div>

    <div>
        <a onclick="cargarVideos();"><h4>Nombre Proyecto</h4></a>
        <p>Informacion acerca del proyecto</p>
        <p><b>Fecha comienzo</b>:11/11/1999<br>
        <b>Fecha finalización</b>:12/11/1999</p>
        <p><b>Número de videos</b>: 4</p>
        <p><b>Duración</b>: 20 minutos</p>
    </div>

    <div>
        <a onclick="cargarVideos();"><h4>Nombre Proyecto</h4></a>
        <p>Informacion acerca del proyecto</p>
        <p><b>Fecha comienzo</b>:11/11/1999<br>
        <b>Fecha finalización</b>:12/11/1999</p>
        <p><b>Número de videos</b>: 4</p>
        <p><b>Duración</b>: 20 minutos</p>
    </div>

    </div>

    <div id="proyectosPendientes">

    <div>
        <a onclick="cargarVideos();"><h4>Nombre Proyecto</h4></a>
        <p>Informacion acerca del proyecto</p>
        <p><b>Fecha comienzo</b>:11/11/1999<br>
        <b>Fecha estimada de finalización</b>:12/11/1999</p>
        <p><b>Número de videos</b>: 4</p>
        <p><b>Duración</b>: 20 minutos</p>
    </div>

    <div>
        <a onclick="cargarVideos();"><h4>Nombre Proyecto</h4></a>
        <p>Informacion acerca del proyecto</p>
        <p><b>Fecha comienzo</b>:11/11/1999<br>
        <b>Fecha estimada de finalización</b>:12/11/1999</p>
        <p><b>Número de videos</b>: 4</p>
        <p><b>Duración</b>: 20 minutos</p>
    </div>

    <div>
        <a onclick="cargarVideos();"><h4>Nombre Proyecto</h4></a>
        <p>Informacion acerca del proyecto</p>
        <p><b>Fecha comienzo</b>:11/11/1999<br>
        <b>Fecha estimada de finalización</b>:12/11/1999</p>
        <p><b>Número de videos</b>: 4</p>
        <p><b>Duración</b>: 20 minutos</p>
    </div>

    </div>

    <div id='videos'>
            <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 1</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
            <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 2</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
            <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 3</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
            <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 4</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
            <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 5</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
            <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 6</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>        
    </div>

    <div id="messages">
        <div>
            <a id="title"><b>Asunto</b></a>
            <a id="body">Este es el principio del mensaje</a>
            <a id="date"><b>14/05/2019</b></a>
        </div>

        <div>
            <a id="title"><b>Asunto</b></a>
            <a id="body">Este es el principio del mensaje</a>
            <a id="date"><b>14/05/2019</b></a>
        </div>

        <div>
            <a id="title"><b>Asunto</b></a>
            <a id="body">Este es el principio del mensaje</a>
            <a id="date"><b>14/05/2019</b></a>
        </div>

    </div>

    <div id="datosPersonales">
            <p><b>Nombre:</b> Alejo Martín Arias Filippo</p>
            <p><b>Correo electrónico:</b> alejo@gmail.com</p>
            <div>
              <button onclick="cargarCambiarCorreo();">Modificar correo</button>
              <button onclick="cargarCambiarContraseña();">Cambiar contraseña</button>
            </div>
      
            </div>

    <div id="cambiarCorreo">
        <form>
            <a>Nuevo correo: </a><input name="correo" type="mail">
        </form>
        <button>Cambiar correo</button>
    </div>
      
    <div id="cambiarContraseña">
        <form>
            <a>Contraseña antigua: </a><input name="contraseñaAntigua" type="password">
            <br>
            <a>Contraseña nueva: </a><input name="contraseñaNueva" type="password">
            <br>
            <a>Repite la contraseña: </a><input name="contraseñaNueva" type="password">
        </form>
        <button>Cambiar contraseña</button>
    </div>
    
</body>

</html>