html{
  height: 100%;
}
  /*Cuerpo principal*/

.card{
  min-width: 300px;
}
body{
    font-family: "Lato", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}


 /*Gestion de usuarios*/
  
 #user{
   position: fixed;
   right: 0; 
    top: 0;
   color: black;
   text-decoration: underline black;
 }
 #gestionUsuarios{
  align-content: flex-start;
}
#gestionUsuarios .options_container{
 align-content: flex-start;
}
.plus img, .trash img, .mail img, .addVideo img{
 width: 7vh;
}
.options_container p{
 text-align: center;
 justify-content: center;
}

#titulo{
 background: rgba(116, 93, 143, 0.404);
}
#titulo p{
 text-align: left;
}
.contenedor_oscuro{
  background: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}
.contenedor_claro{
  background: rgba(184, 160, 160, 0.404);
  cursor: pointer;
}




/*---------------------Administrador--------------------*/
/*---------------------Contenido---------------------*/

/*GESTIÓN DEL PORTFOLIO Y MODIFICAR INFORMACIÓN DEL INICIO*/
.grid-container div{
  text-align: justify;
}

.grid-container div #middle {
  margin-right: auto;
  margin-left: auto;
}

.grid-container div u {
  margin-right: auto;
  margin-left: auto;
}

.grid-container div #right {
  margin-right: auto;
  margin-left: auto;
}

 /*---------------------Decoración---------------------*/

 /*Gestion de usuarios*/

#icono{
  width: 20px;
  height: 20px;
}

#titulo{
  background: rgba(116, 93, 143, 0.404);
}
#titulo p{
  text-align: left;
}

/*PORTFOLIO, SERVICIOS Y BLOG*/

/*Gestión del contenido*/
#portfolio, #servicios, #videos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}


/*Contenido dentro del cuadro*/
#portfolio div, #servicios div, #videos div{
  border-width: 2px;
  background: rgba(0, 0, 0, 0.061);
  /*border-style: groove;*/
  width: 35vh;
  margin: 3px;
}
#imagen{
  width: 35vh;
   height: 35vh;
}

  
/*FORMULARIO PRESUPUESTO*/
#descripcion{
  font-size: small;
}

/*BLOG*/

#blog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.imagenMentira {
  background-color: #aaa;
  width: auto;
}
#blog div{
  border-width: 2px;
  background: rgba(0, 0, 0, 0.061);
  /*border-style: groove;*/
  width: 45vh;
  margin: 3px;
}

/*---------------------ZONA PERSONAL---------------------*/

/*Proyectos*/

#proyectos{
  background: rgba(138, 132, 223, 0.185);
}

/*Proyectos pendientes*/

#proyectosPendientes{
  background: rgba(138, 132, 223, 0.185);
}

/*Mensajes*/

#messages{
  background: rgba(138, 132, 223, 0.185);
}

#messages div #title{
  margin-left: 1%;
  margin-right: 15%;
}

#messages div #body{
  margin-right: 48%;
}


/*---------------------Contenidos genérico---------------------*/

/*Fondo de pantalla*/
#backgroundImages {
  background-image: url("../../images/fondos/fondo1.jpeg") no-repeat center center;
  transition: background 3s;
  min-height:100vh;
  position:relative;
}



/*CUADRO PRINCIPAL*/


/*BARRA LATERAL*/
.custom-menu {
  position: fixed;}
.btnSpe{
  background-color: gray;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #212121;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
  height: 100vh  ; /*79vh*/
  transition: width .35s;
  overflow-y: scroll;
}
  #sidebar .h6 {
    color: #fff; }
  #sidebar.active {
    margin-left: -250px; }
    #sidebar.active .custom-menu {
      margin-right: -50px; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px; }
    #sidebar h1 .logo {
      color: #fff;
      display: block;
      padding: 10px 30px;
      background: rgba(255, 255, 255, 0); }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 15px 30px;
      display: block;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a:hover {
        color: #fff;
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
      #sidebar ul li.active > a:hover {
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -250px; }
      #sidebar.active {
        margin-left: 0; }
      #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 80vh  ; /*79vh*/
  background-color: rgba(255,255,255,.5);
  transition: width .35s;
  overflow-y: scroll;
}
  


.footer p {
  color: rgba(255, 255, 255, 0.5); }


  /*TERMINA LA BARRA LATERAL*/



/*Elemento visual muy importante, oculta el scrollbar pero hace que siga funcionando
lo he aplicado a todos los elementos */
::-webkit-scrollbar {
  display: none;
}
/*Adaptaciones del contenido del recuadro, puede modificarse para adaptar el contenido que
mostreis, si encontrais el estilo adecuado y lo teneis escrito ya en css decidmelo y hago un 
script para aplicarlo cuando se cambie de ventana*/

#contenido tr td img{
  width: 100%;
  height: 75%;
}

/* Darker background on mouse-over */


/*Acomodando la barra segun el tamaño*/



  /*Entrada de texto en formularios*/
  
  

