<!DOCTYPE html>
<html>
<head>

<!-- Cargamos el scrip de jQuery para poder realizar inserciones de codigo seguras-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../scripts/scriptGeneral.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../styles/estiloVistaPrincipal.css">

</head>

<!--Cuerpo-->
<body id="backgroundImages">
    <button class="closer" title="Close sidebar" onclick=aparecerBarra()>☰</button>

  <div id="bar">  
      <div class="logo"><img src="../../images/logoSinLetrasCircular.png"
        style="max-width:100%;"></div>
    <div id="sidebar">  
    <a class="special" href="home.html">Salir</a>
    <a class="active" href="#projects" onclick="cargarZon('#proyectos');">Proyectos</a>
    <a class="btn" href="#workProjects" onclick="cargarZon('#proyectosPendientes');">Proyectos Pendientes</a>
    <a class="btn"href="#messages" onclick="cargarZon('#messages');">Mensajes</a>
    <a class="btn" href="#personalDate" onclick="cargarZon('#datosPersonales');">Datos Personales</a>
    </div>

  </div>


  <div class="content">
    <div id="square"> 
      
    </div>
  </div>


  <script>
    cargarZon('#proyectos');
    /*Botones activos*/

    // Coge el cuadro del contenido
    var btnContainer = document.getElementById("sidebar");

    // Coge todos los botones de la clase boton dentro del div
    var btns = btnContainer.getElementsByClassName("btn");

    btnContainer.getElementsByClassName("active")[0].addEventListener("click", cambioBotones);
    // Va cambiando los botones
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", cambioBotones);
    }
    function cambioBotones(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace("active", "btn");
        this.className += " active";}
    </script>

</body> 
</html>