<html>
        <head></head>
<body>

    <!--Inicio-->

    <div id="texttop">
        <h1>BlakKoi Video Productions</h1>
        <p>Lideres del sector de produccion de contenido audiovisual en ningun lado, los mejores diseñando logos cutres</p>
    </div>
    <div id="texttop1">
        <h1>BlakKoi Video Productions</h1>
        <p>Esto es un ejemplo uno. Esto es un ejemplo uno. Esto es un ejemplo uno. Esto es un ejemplo uno. Esto es un ejemplo uno.</p>
    </div>
    <div id="texttop2">
        <h1>BlakKoi Video Productions</h1>
        <p>Esto es un ejemplo dos. Esto es un ejemplo dos. Esto es un ejemplo dos. Esto es un ejemplo dos. Esto es un ejemplo dos.</p>
    </div>
    <div id="texttop3">
        <h1>BlakKoi Video Productions</h1>
        <p>Esto es un ejemplo tres. Esto es un ejemplo tres. Esto es un ejemplo tres. Esto es un ejemplo tres. Esto es un ejemplo tres.</p>
    </div>

    <!--Contenido de servicios-->

    <div id='servicios'>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 1</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 2</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 3</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 4</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div> 
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 5</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>            
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 6</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div> 
    </div>

    <!--Contenido del portfolio-->

    <div id='portfolio'>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 1</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 2</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 3</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 4</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 5</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 6</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>        
    </div>

    <!--Contenido del contacta-->

    <div id="contacta">
        <div style="text-align:center">
            <h2>Contáctanos</h2>
            <p>Accede a nuestras redes sociales, o escribenos un mensaje</p>
        </div>
        <form action="/action_page.php">
            <label for="fname">Nombre completo</label>
            <input type="text" id="fname" name="nombre" placeholder="Tu/s nombre/s y apellido/s">
            <label for="lname"> Correo electrónico</label>
            <input type="email" id="email" name="correo" placeholder="Tu correo electrónico">
            <label for="subject">Asunto</label>
            <input type="text" id="asunto" name="asunto" placeholder="Asunto">
            <label for="subject">Cuerpo</label>
            <textarea id="subject" name="subject" placeholder="" style="height:170px"></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <!--Contenido de la solicitud de presupuesto-->

    <div id='presupuesto'>
        <form class="box" action="index.html" method="POST">
            <p>¿Que tipo de proyecto quieres?¿Cuál sería la duración del mismo?</p>
            <input type="text" placeholder="Escribe tu respuesta">
            <p>¿Que tipo de proyecto quieres?¿Cuál sería la duración del mismo?</p>
            <input type="text" placeholder="Escribe tu respuesta">
            <p>¿Que tipo de proyecto quieres?¿Cuál sería la duración del mismo?</p>
            <input type="text" placeholder="Escribe tu respuesta">
            <input type="button" placeholder="Enviar formulario" value="Enviar formulario">
        </form>
    </div>

    <!--Contenido del blog-->

    <div id="blog">
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
    </div>

</body>
</html>