<html>
        <head></head>
<body>

    <!--Inicio-->
    <div id="inicio">
        <div id="texttop1">
            <h1>BlakKoi Video Productions</h1>
            <p>Lideres del sector de produccion de contenido audiovisual en ningun lado, los mejores diseñando logos cutres</p>
        </div>
        <div id="texttop2" style="display:none;">
            <h1>BlakKoi Video Productions</h1>
            <p>Esto es un ejemplo uno. Esto es un ejemplo uno. Esto es un ejemplo uno. Esto es un ejemplo uno. Esto es un ejemplo uno.</p>
        </div>
        <div id="texttop3" style="display:none;">
            <h1>BlakKoi Video Productions</h1>
            <p>Esto es un ejemplo dos. Esto es un ejemplo dos. Esto es un ejemplo dos. Esto es un ejemplo dos. Esto es un ejemplo dos.</p>
        </div>
        <div id="texttop4" style="display:none;">
            <h1>BlakKoi Video Productions</h1>
            <p>Esto es un ejemplo tres. Esto es un ejemplo tres. Esto es un ejemplo tres. Esto es un ejemplo tres. Esto es un ejemplo tres.</p>
        </div>
    </div>
    <!--Contenido de servicios-->

    <div id='servicios'>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 1</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 2</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 3</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 4</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div> 
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 5</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>            
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 6</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div> 
    </div>

    <!--Contenido del portfolio-->

    <div id='portfolio'>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 1</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 2</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 3</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 4</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 5</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
        <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 6</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>        
    </div>

    <!--Contenido del contacta-->

    <div id="contacta">
        <div class="modal-body">
            <form action="#" method="POST" id=contactando>
            <div class="form-group">
              <label for="validationDefault01"><h2>Contáctanos</h2></label>
              <label for="validationDefault01"><h5>Nos pondremos en contacto con usted en menos de 24 horas.</h5></label>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Nombre o Empresa</b></label>
              <input name="nombre" class="form-control" placeholder="Escriba su nombre o empresa"  required>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Correo Electrónico</b></label>
              <input name="email" class="form-control" placeholder="Escriba el correo" type="mail" required>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Asunto</b></label>
              <br>
              <label for="validationDefault02">Esto es una pregunta de ejemplo, esto es una pregunta de ejemplo</label>
            <textarea name="pregunta1" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                  <button type="submit" form="contactando" value="Submit" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            
          </form>


            </div>
        <div style="text-align:center">
            <h2>Contáctanos</h2>
            <p>Accede a nuestras redes sociales, o escribenos un mensaje</p>
        </div>
        <form action="/action_page.php">
            <label for="fname">Nombre completo</label>
            <input type="text" id="fname" name="nombre" placeholder="Tu/s nombre/s y apellido/s">
            <label for="lname"> Correo electrónico</label>
            <input type="email" id="email" name="correo" placeholder="Tu correo electrónico">
            <label for="subject">Asunto</label>
            <input type="text" id="asunto" name="asunto" placeholder="Asunto">
            <label for="subject">Cuerpo</label>
            <textarea id="subject" name="subject" placeholder="" style="height:170px"></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <!--Contenido de la solicitud de presupuesto-->

    <div id='presupuesto'>
        <div class="modal-body">
            <form action="solicitudPresupuesto.php" method="POST" id=sendApplication>
            <div class="form-group">
              <label for="validationDefault01"><h2>Solicita tu presupuesto</h2></label>
              <label for="validationDefault01"><h5>Responda a nuestras cuestiones referentes a la producción para que le podamos estimar un presupuesto. Nos pondremos en contacto con usted en menos de 24 horas.</h5></label>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Nombre o Empresa</b></label>
              <input name="nombre" class="form-control" placeholder="Escriba su nombre o empresa"  required>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Correo Electrónico</b></label>
              <input name="email" class="form-control" placeholder="Escriba el correo" type="mail" required>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Pregunta ejemplo 1</b></label>
              <br>
              <label for="validationDefault02">Esto es una pregunta de ejemplo, esto es una pregunta de ejemplo</label>
            <textarea name="pregunta1" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Pregunta ejemplo 2</b></label>
              <br>
              <label for="validationDefault02">Esto es una pregunta de ejemplo, esto es una pregunta de ejemplo</label>
            <textarea name="pregunta2" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="validationDefault01"><b>Pregunta ejemplo 3</b></label>
                <br>
              <label for="validationDefault02">Esto es una pregunta de ejemplo, esto es una pregunta de ejemplo</label>
            <textarea name="pregunta3" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          
            <div class="modal-footer">
                  <button type="submit" form="sendApplication" value="Submit" class="btn btn-primary">Mandar solicitud</button>
                </div>
              </div>
            
          </form>
            </div>
        </div>

    <!--Contenido del blog-->

    <div id="blog">
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
        <div>
            <h2>Título de la entrada</h2>
            <h5>Descripción, Nov 12, 2019</h5>
            <div class="imagenMentira" style="height:200px;">Image</div>
            <p>Descripcion imagen</p>
            <p>Texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo</p>
        </div>
    </div>

</body>
</html>