<html>
        <head></head>
<body>
<table id='contenido'>
            <tr>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
            </tr>
            <tr>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
            </tr>
            <tr>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
                    <td><img src="imagenes/ejemploEntradaBlog.jpg"></td>
            </tr>
        </table>
</body>
</html>