<html>
        <head></head>
<body>
<div id='contenido'>
    <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 1</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
    <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 2</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
    <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 3</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
    <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 4</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
    <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 5</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>
    <div><iframe id="imagen" src="https://www.youtube.com/embed/787pabrW5Ds"></iframe><p><b>Video 6</b></p><p>Este es un video en el que se muestra un gran proyecto</p></div>        
</div>
</body>
</html>