<html>
        <head></head>
<body>
<div id='contenido'>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 1</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 2</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 3</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 4</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div> 
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 5</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div>            
        <div><img id="imagen" src="../../images/ejemploEntradaBlog.jpg"><p><b>Servicio 6</b></p><p>Esto es un servicio que se ofrece. Consiste en ser un servicio que se dedica a grabar</p></div> 
       </div>
</body>
</html>